@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

 
body {
  max-width: 100vw;
  background-color: white;
  display: flex;
  flex-direction: column;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 60px;
  box-sizing: border-box;
  margin: 0;
}

/* New styles for the navigation bar */
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  /* Add additional styles for the navigation bar */
}